.pc, .return {
    user-select: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000001;
    margin: 0;
    padding: 20px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: #FFF;
    text-shadow: 2px 2px 10px #5c05f1;
    padding: 30px;
    font-size: 60px;
    border-radius: 20px;
    position: relative;
}
h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #5c05f1;
    border-radius: 20px;
    box-shadow: 0 0 20px #5c05f1;
    animation: glow 2s infinite alternate;
}
@keyframes glow {
    from {
        box-shadow: 0 0 10px #5c05f1;
    }
    to {
        box-shadow: 0 0 30px #5c05f1;
    }
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pc {
    margin: 10px;
    margin-left: 40px;
    padding: 1.5rem;
    border: 2px solid #5c05f1;
    width: 300px;
    border-radius: 15px;
    height: auto;
    text-align: center;
    cursor: pointer;
    font-size: 2rem;
    text-shadow: #FFF 0px 0px 10px;
    position: relative;
    overflow: visible;
}
.pc::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: 0 0 15px #5c05f1;
    opacity: 0.6;
    z-index: -1;
    transition: opacity .3s ease, transform .3s ease;
    
}

.pc:hover::before {
    opacity: 1;
    transform: scale(1.1);
}


.pccontent {
    padding-top: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 80%;
    height: 60%;
    border: none;
    margin: auto;

}
.pccontent > div  {
    margin: 20px;
    padding-right: 10px;
    border: 2px solid #5c05f1;
    border-radius: 10px;
    text-align: center;
    font-size: large;
    text-shadow: #FFF 0px 0px 5px;
   
}
.termo {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.pc_id {
    
    grid-column: 1 / span 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.thermometer-container {
    width: 12vw;             
    max-width: 80px;         
    min-width: 40px;          
    aspect-ratio: 1 / 4;      
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-left: 5px;
    padding-top:45%;
    height: 60%;
}

.thermometer-body {
    width: 40%;              
    height: 70%;              
    background-color: #eee;
    border: 2px solid #5c05f1;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.thermometer-fluid {
    width: 100%;
    height: 0%;
    background: linear-gradient(#0f0, #ff0, #f00);
    transition: height 1s ease-in-out;
}

.thermometer-value {
    margin-top: auto;
    font-size: clamp(2rem, 2vw, 10rem); 
    font-weight: bold;
}


.return{
    cursor: pointer;
    width : 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    border: solid #5c05f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 15px;
    transition: 0.5s ease-in-out;
}
.return:hover{
    box-shadow:#5c05f1 0 0 50px;
    background-image: linear-gradient(blue,purple);
    font-size: x-large;

}
h2 {
    color: #FFF;
    text-shadow: 2px 2px 10px #5c05f1;
    font-size: 30px;
    margin-bottom: 10px;
}
span {
    color: #FFF;
    text-shadow: 2px 2px 10px #5c05f1;
    font-size: 25px;
    margin-bottom: 10px;
    
    margin-top: 0px;
}
